<div id="chat" class="row">
<script>
  const URL_API = "https://api.ipify.org/?format=json";
  fetch(URL_API)
          .then((respuestaRaw) => respuestaRaw.json())
          .then((respuesta) => {
            document.getElementById("ip").value = respuesta.ip;
            document.getElementById("ipBus").value = respuesta.ip;
          });
</script>
  <body>
    <center>
      <div class="overflow" style="overflow-y: scroll">
        <div class="col" id="mensajes">
          <div class="card">
            <h5 class="card-header">Mensajes En Linea</h5>
            <nav class="navbar navbar-expand-lg bg-light">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    </li>
                  </ul>
                  <form action="buscarComentarioIp" method="POST">
                    <input type="hidden" id="ipBus" name="dato">
                    <button class="btn btn-success" type="submit">
                      <i class='bx bxs-user'></i> Mis comentarios
                    </button>
                    </a>
                  </form>

                  <form action="buscarComentarioTipo" method="POST" id="filtro" class="d-flex" role="search">
                    <select onchange="document.getElementById('filtro').submit()" name="dato" id="tipo" class="form-control search">
                      <option value="" disabled="disabled" selected="selected">
                        Filtro
                      </option>
                      <option value="Saludos">Saludos</option>
                      <option value="Comentario">Comentario</option>
                      <option value="Pregunta">Pregunta</option>
                    </select>
                  </form>
                  <form action="buscarComentario" method="POST" id="busqueda" class="d-flex" role="search">
                    <input
                      id="valor",
                      name="dato"
                      class="form-control search"
                      type="search"
                      placeholder="Descripcion"
                      aria-label="Buscar"
                    />
                    <button
                      class="btn btn-success"
                      type="submit"
                    >
                      Buscar
                    </button>
                  </form>
                </div>
              </div>
            </nav>

            <div class="card-body msg_card_body" style="height: 480px;overflow-y: scroll;border-radius: 15px !important;background-color: rgba(0, 0, 0, 0.4) !important;">
              <div th:each="comentario,status : ${comentarios}">
                <div data-aos="fade-down" class="d-flex justify-content-start mb-4">
                  <div class="img_cont_msg">
                    <span
                      class="rounded-circle user_img_msg"
                      th:text="${comentario.nombre[0]}"
                    ></span>
                  </div>
                  <div
                    class="msg_cotainer"
                    th:text="${comentario.contenido}"
                  ></div>
                  <div
                    style="
                      position: relative;
                      top: 40px;
                      left: -40px;
                      bottom: -15px;
                      color: rgba(255, 255, 255, 0.5);
                      font-size: 10px;
                    "
                  >
                  <p th:text="${comentario.tipo}"></p>
                  </div>
                </div>
              </div>

            </div>
            <div class="card-footer" id="mensajeria">
              <form action="/" method="post">
                <div class="margin-bottom:10px;">
                  <div class="margin-bottom:10px;">    
                      <input
                              name="ip"
                              id="ip"
                              class="form-control me-2"
                              type="hidden"
                      />
                  </div>
                  <label>Tipo de Comentario:</label>
                  <select name="tipo" class="form-control" required="required">
                      <option value="Saludos">Saludos</option>
                      <option value="Comentario">Comentario</option>
                      <option value="Pregunta">Pregunta</option>
                  </select>
                  <input name="nombre"
                  class="form-control me-2"
                  placeholder="Ingresa nombre"/>
              </div>
              <div class="margin-bottom:10px;">

              </div>
                <div class="input-group">
                  <textarea name="contenido" id="Mensaje" class="form-control type_msg" placeholder="Escribe..."></textarea>
                  <div class="input-group-append">
                  <button id="boton" type="submit" class="btn btn-success"><i class='bx bxs-send'></i></button>
                  
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </center>

