<div th:insert="layout :: #principal"></div>
<div data-aos="fade-up" ><td valign="top" width="617">
    <center>
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="613" id="table6" align="left">
  <tbody><tr>
            <td >
              <p align="center"><b>
              <font color="#FF8000" size="6" face="Arial Black">HISTORIA</font></b></p>
              <p></p>
      <p class="MsoNormal" align="center">
      <font color="#D5EAFF" face="Verdana" size="1">
 
      <p class="MsoNormal" align="justify">
      <font color="#FFFFFF" face="Verdana" size="2">Buenos días a todos, esta 
      es Radio Doble N en señal de prueba, y lo que van a escuchar a 
      continuación es Queen esto es We Are the Champions. Era el medio día del 
      10 de marzo de 1995, y después de esta breve frase, el tornamesa de 
      Doble N&nbsp; empezó a girar y las melodías de vinilo salieron a través 
      de la consola y la pequeña antena recién instalada en el techo de una 
      casa del centro de la ciudad de Cajamarca.</font></p>
      <p class="MsoNormal" align="justify">
      <font color="#FFFFFF" face="Verdana" size="2">
      <img border="0" src="https://radiodoblen.com/fundadores150.jpg" align="right" width="185" height="125">La 
      idea surgió a finales de los años ‘80s de una conversación que 
      sostuvieran los hermanos Nureña (Julio y Luis). Después de realizar un 
      estudio de factibilidad y de darse cuenta la falta de radioemisoras con 
      transmisiones locales, la mayor parte de estaciones son repetidoras con 
      señales vía satélite desde la ciudad de Lima, buscado una identidad 
      regional y local decidieron fundar la emisora. Radio Doble N Concierto 
      S.R.L. que opera con&nbsp; Resolución Ministerial emitida por el Ministerio 
      de Trasportes y Comunicaciones del Perú.</font></p>
      <p class="MsoNormal" align="justify">
      <font color="#FFFFFF" face="Verdana" size="2">
      <img border="0" src="https://radiodoblen.com/Cajamarca150.jpg" align="left" width="185" height="125">Estamos 
      en un esfuerzo permanente por estar tecnológicamente actualizados. Uno 
      de los objetivos principales&nbsp; es la digitalización y la 
      automatización, objetivo que se esta logrando desde finales de 1999 en 
      que la radio implemento un software profesional de automatización, el cual nos esta 
      dando buenos resultados tanto en la programación como en los cortes comerciales 
      la cual esta conectada a nuestro control maestro comandada por una 
      consola de la empresa italiana <b>Axel Technology</b>. Actualmente contamos en nuestra sala de transmisores con un 
      transmisor principal italiano marca <b>R.V.R.</b> digital de 1.5 kw&nbsp; de estado 
      sólido, respaldado por un transmisor auxiliar&nbsp; marca <b>R.V.R.</b>&nbsp; 
      de 1.0 kw también de estado solido, a esto se suma un juego de antenas de la fabrica española 
      <b>OMB</b> de 
      polarización circular el cual nos permite cubrir todo el valle de 
      Cajamarca; el procesamiento del audio se hace con nuestro nuevo sistema 
      digital de la empresa norteamericana <b>INOVONICS</b> 719N - DAVID IV FM/HD™ Broadcast Processor, 
      que nos da la calidad, transparencia y la frescura en nuestro sonido, 
      sumado al <b>INOVONICS</b> Advanced Dynamic RDS Encoder 732. </font></p>
      <p class="MsoNormal" align="justify">
      <font color="#FFFFFF" face="Verdana" size="2">A principios del 2000 se 
      implementaron dos cabinas de edición y grabación , con equipos digitales 
      y computadoras de ultima generación, unidas por red a nuestra cabina 
      principal, conectadas permanentemente a internet.</font></p>
      <p class="MsoNormal" align="justify">
      <font face="Verdana" size="2" color="#FFFFFF">Nuestro Agradecimiento muy 
      especial a Radio Francia Internacional (RFI), Radio Canada Internacional 
      (RCI), Radio Exterior de España (REE) por todo el apoyo&nbsp; material&nbsp; 
      y logístico.</font></p><p class="MsoNormal" align="justify">
      <font color="#FFFFFF" face="Verdana" size="2">Radio Doble N Concierto 
      S.R.L. se ha destacado a lo largo de su existencia por tener en sus 
      cabinas locutores de primera línea que siguen dejando huella, recordamos 
      entre ellos nuestro gran Wilson Araujo, "Colorin" Luna,&nbsp; 
      Javier Ascurra, Andres Villalobos, Roberto Carlos Sánchez, Mirtha Comettant, Jonh Sevillano, Percy Medina, 
      Carlos Leon, Angel Roman, 
      Freddy Montenegro, Micky Chavarry, Oscar Pajares, Edgard Zegarra el Z, 
      Juan Carlos Hernandez el Tortu,</font><tt><font size="2" face="Verdana" color="#FFFFFF"> 
      Willy Miranda, Giovannny Quiroz, 
      Giussepe Reyna</font></tt><font color="#FFFFFF" face="Verdana" size="2">, 
      Nony Barriga, Juany Salas, Manuel "Chapeto" Salazar, Eduardo de la 
      Torre, Luis Izquierdo, Alex Valencia, César Llerena, DJ 
      Vito, Laury 
      Gutiérrez, Freddy Vásquez, Miluzka Cruzado, Kiara Lozano, Cisco Lopez, 
      Edwin Cerquin Jimenez, Kike Rojas, Luis Ivan,&nbsp; Carlos Toledo, Alex Llanos, Walter Gutiérrez, 
      Hernan Chiques, Jonnhy Araujo, 
      Juan Carlos Tejada, Doan Ortiz, Robert Santillan, Manuel Vasquez, Jose 
      Novoa, Augusto Rojas Atalaya, 
      Francisco Cortez, Victor Vasquez, Walter Ortiz, Luis Ivan, nuestro recordado Ricardo Ravines, gente que nunca se aparta de la historia de la radio y de 
      nuestros gratos recuerdos... no por nada somos:&nbsp;&nbsp; </font>
              </p><p class="MsoNormal" align="center"></div>
