<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radio Doble N</title>
</head>
<body>
  <div th:insert="layout :: #principal"></div>
<div data-aos="zoom-in" class="container">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
          <h5 class="card-header">Nosotros</h5>
          <div class="card-body">
            <h5 class="card-title">Historia</h5>
            <p  class="card-text"><font color="#FFFFFF" face="Verdana" size="2">Buenos días a todos, esta
              es Radio Doble N en señal de prueba, y lo que van a escuchar a 
              continuación es Queen esto es We Are the Champions. Era el medio día del 
              10 de marzo de 1995, y después de esta breve frase, el tornamesa de 
              Doble N&nbsp; empezó a girar y las melodías de vinilo salieron a través 
              de la consola y la pequeña antena recién instalada en el techo de una 
              casa del centro de la ciudad de Cajamarca.</font></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header">Ubicanos</h5>
          <div class="card-body">
            <h5 class="card-title">Google Maps</h5>
            <p class="card-text"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.711787270596!2d-78.52111358500007!3d-7.159281572230299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91b25aff3a717a23%3A0x3da05b31bafb2e1c!2sRadio%20Doble%20N!5e0!3m2!1ses-419!2spe!4v1663886796215!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
          </div>
        </div>
      </div>
    </div>
    
    <div th:insert="chat :: #chat"></div>

  </div>
</div>






</body>
</html>
